@import 'breakpoint';

body {
  // tiny <= 767px
  @include breakpoint(tiny) {
    max-width: 100%;
  }

  // 767px < small < 992x
  @include breakpoint(small) {
    max-width: 758px;
  }

  // 991px < medium < 1200px
  @include breakpoint(medium) {
    max-width: 982px;
  }

  // 1200px <= large
  @include breakpoint(large) {
    max-width: 1190px;
  }
}

nav {
  @include breakpoint(tiny) {
    height: 8em;
  }
}

.navbar-header {
  @include breakpoint(tiny) {
    // display: block;
    left: auto;
    top: 10%;
    width: 100%;
    transform: none;
  }
}
//
.navbar-buttons {
  @include breakpoint(tiny) {
    bottom: 10%;
    right: auto;
    width: 100%;
    text-align: center;
    transform: none;
  }

}

.game-board-box {
  @include breakpoint(tiny) {
    margin: 20px 10%;
    width: 80%;
  }
}

.info-bar {
  @include breakpoint(tiny) {
    margin: 20px 10%;
    width: 80%;
  }
}
