// Add themes

body {
  background: $background;
  color: $font-color;
}

legend,
form,
button {
  color: $font-color;
}

input {
  background: $background;
}

.navbar {
  background: $box-background;
  color: $font-color;

  button {
    background: $font-color;
    color: $background;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.game-board-col {
  font-family: $game-font;
  font-size: 3em;
}

// .container-fluid: {
//   background: $background;
// }
