// Add themes

body {
  background: $background;
  color: $font-color;
  font-family: $body-font;
  margin: 50px 0;
}

// stylings related to the navigation bar
nav {
  background: $box-background;
  color: $font-color;
  height: 5em;
  position: relative;
  width: 100%;
}

.navbar-header {
  display: inline-block;
  font-family: $body-font;
  font-size: 2em;
  left: 10px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.navbar-buttons {
  display: inline-block;
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
}

.navbar-btn {
  background: $font-color;
  color: $background;
  margin-left: 10px;
  margin-right: 10px;
}

legend,
form {
  color: $font-color;
}

input {
  background: $background;
}

.game-board-col {
  font-family: $game-font;
  font-size: 3em;
}

.misc-message {
  color: $alert-text;
}
